In [1]:
# import sqlite3 library
import sqlite3

# by using library create reference object to connect with database
db=sqlite3.connect("SchoolDatabase.db")

# create cursor object using reference object
cur=db.cursor()

print("Database Created")

Database Created

In [2]:
# create table

cur.execute("create table School(studentID int primary key, StudentName varchar(30), studentAddress text, studentDOJ date)")

OperationalError: table School already exists

In [5]:
# create table fee
cur.execute("create table Course(subject primary key, subjectCode unique)")

In [6]:
sql= "insert into School values(1,'Ankit','MP',2012-06-03),(2,'Anupam','MF',2011-06-05),(3,'Avirup','MH',2010-09-02),(4,'Anu','NH',2021-08-07),(5,'Amrit','NJ',2022-02-04)"

# insert values into School
cur.execute(sql)

# saving data
db.commit()
print(cur.rowcount,"Rows Inserted")

5 Rows Inserted

## Select

In [10]:
sql="select * from School"

sql2="select StudentName, studentDOJ from school"
sql3="select StudentName from School"
sql4="select studentID, StudentDOJ from school"

In [11]:
print(cur.execute(sql).fetchall(),"\n"*2)
print(cur.execute(sql2).fetchall(),"\n"*2)
print(cur.execute(sql3).fetchall(),"\n"*2)
print(cur.execute(sql4).fetchall(),"\n"*2)

[(1, 'Ankit', 'MP', 2003), (2, 'Anupam', 'MF', 2000), (3, 'Avirup', 'MH', 1999), (4, 'Anu', 'NH', 2006), (5, 'Amrit', 'NJ', 2016)]


[('Ankit', 2003), ('Anupam', 2000), ('Avirup', 1999), ('Anu', 2006), ('Amrit', 2016)]


[('Ankit',), ('Anupam',), ('Avirup',), ('Anu',), ('Amrit',)]


[(1, 2003), (2, 2000), (3, 1999), (4, 2006), (5, 2016)]

In [3]:
cur.execute("select * from School").fetchall()

[(1, 'Ankit', 'MP', 2003),
 (2, 'Anupam', 'MF', 2000),
 (3, 'Avirup', 'MH', 1999),
 (4, 'Anu', 'NH', 2006),
 (5, 'Amrit', 'NJ', 2016)]

In [4]:
cur.execute("select StudentName from school").fetchall()

[('Ankit',), ('Anupam',), ('Avirup',), ('Anu',), ('Amrit',)]

In [5]:
cur.execute("select studentID from school").fetchall()

[(1,), (2,), (3,), (4,), (5,)]

In [7]:
sql="select StudentName from school where studentAddress=='MP'"

cur.execute(sql).fetchall()

[('Ankit',)]

In [8]:
sql="select StudentName from school where studentDOJ>2006"
cur.execute(sql).fetchall()

[('Amrit',)]

In [10]:
sql="select StudentName from school where studentName like '__r%'"
cur.execute(sql).fetchall()

[('Amrit',)]

In [11]:
sql="select studentName from school where studentName like '__u'"
cur.execute(sql).fetchall()

[('Anu',)]

In [13]:
sql="select studentName from school where studentName like '%n_'"
cur.execute(sql).fetchall()

[('Anu',)]

In [15]:
sql="select studentName from school where StudentID between 2 and 5 "
cur.execute(sql).fetchall()

[('Anupam',), ('Avirup',), ('Anu',), ('Amrit',)]

In [17]:
sql="select studentName from school where StudentID==2 or StudentName='Abhijit'"
cur.execute(sql).fetchall()

[('Anupam',)]

In [19]:
sql="select studentName from school where StudentID==2 and StudentName='Anupam'"
cur.execute(sql).fetchall()

[('Anupam',)]

In [23]:
sql="select studentName from school order by studentDOJ desc"
cur.execute(sql).fetchall()

[('Amrit',), ('Anu',), ('Ankit',), ('Anupam',), ('Avirup',)]

In [24]:
sql="select studentName from school order by StudentName desc"
cur.execute(sql).fetchall()

[('Avirup',), ('Anupam',), ('Anu',), ('Ankit',), ('Amrit',)]

In [26]:
sql="select min(studentDOJ), max(studentDOJ),count(studentDOJ), sum(studentID), avg(studentID) from school"
cur.execute(sql).fetchall()

[(1999, 2016, 5, 15, 3.0)]

In [38]:
cur.execute("drop table Marks")
db.commit()

In [39]:
sql='create table Marks(id int primary key, name text, age int, address text, marks real)'
cur.execute(sql)